	<!-- GAME OVER SCREEN -->
	<div id="gameOverScreen" class="modal-container game-over">
    <div class="modal">
      <h2>Fim de Jogo</h2>

      <div class="container">
        <div class="row">
          <div class="col-6 d-flex flex-column align-items-center">
            <h3>Pontuação Final</h4>
            <p><span class="points-finalScore">0</span></p>
          </div>

          <div class="col-5 d-flex flex-column align-items-center justify-content-center">
            <input id="tryAgain" type="button" class="button" value="Jogar Novamente">
          </div>
        </div>
      </div>
    </div>
</div>
<!-- /GAME OVER SCREEN -->
