<!-- START SCREEN -->
<div id="startScreen" class="modal-container">
  <div class="modal">

    <h2>reciclus</h2>

    <div class="row">
      <div class="rules col-lg-7">

        <h3>Como Jogar</h3>

        <ul>
          <li>use a lixeira para juntar plástico;</li>
          <li><span class="bolder">cuidado!</span> Juntar outro tipo de lixo pode te fazer perder o jogo.</li>
        </ul>
      </div>

      <div class=" col-lg-5 d-flex flex-column align-items-center justify-content-center">
        <input id="playGame" type="button" class="button fill w-100-xl" value="começar">
      </div>
    </div>
  </div>
</div>
<!-- /START SCREEN -->
