.caixa_lado {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  right: 0px;
  padding: 2px;
  background-color: rgb(145, 190, 118);
  width: 250px;
  height: 150px;
  bottom: 40px;
  position: absolute;
  border-bottom: 9px solid rgb(102, 155, 102);
    border-right: 9px solid rgb(171, 207, 171);

}
